* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Color variables*/
:root {
  --text-white: #ffffff;
  --text-secondary: #f00;
}
/*font class*/
.inter {
  font-family: "inter", sans-serif;
}
.merri {
  font-family: "Merriweather", serif;
}
/*Header section styling*/
header {
  background: linear-gradient(180deg, #000000 0%, rgba(0.25, 0.25, 1, 00) 100%),
    url("./images/Banner\ Image.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  margin: 0 140px;
  border-radius: 16px;
  overflow: hidden;
  transition: 0.3s;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  text-align: center;
  color: var(--text-white);
  min-width: 600px;
}
.banner h4 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}
.banner h1 {
  font-size: 90px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
  letter-spacing: 5px;
}
/*Main section styling*/
main {
  margin: 120px 140px;
  text-align: center;
}
.offer > h1 {
  /* margin: auto; */
  color: var(--text-secondary);
  font-size: 90px;
  margin-bottom: 30px;
}
.offer > h5 {
  color: var(--text-secondary);
  font-size: 24px;
  font-weight: 500;
}
.offer > h2 {
  font-size: 48px;
  font-weight: 500;
}
.offer img {
  height: 500px;
  margin-top: 50px;
}
/*party banner styling*/
.party {
  background-image: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 100%),
    url("./images/Vectorrr.png");
  background-repeat: no-repeat;
  min-height: 700px;
  background-size: cover;
  margin: 120px 0;
  color: var(--text-white);
  text-align: left;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  padding: 0 140px;
  align-items: center;
}
.party-content {
  max-width: 800px;
}
.party-content h3 {
  font-family: "Merriweather", serif;
  font-size: 64px;
  font-weight: 900;
  line-height: 80px;
  margin-bottom: 30px;
}
.party-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 48px;
}
.party-content > button {
  background-color: transparent;
  padding: 10px 20px;
  color: var(--text-white);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
/*event section styling*/
.event {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  padding: 100px;
}
.event h4 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 600px;
  line-height: 48px;
  margin-bottom: 48px;
}
.orange-color {
  color: var(--text-secondary);
}
.event > button {
  background-color: var(--text-secondary);
  padding: 10px 20px;
  color: var(--text-white);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
/* coming soon section styling*/
.coming-soon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  margin: 120px 0;
}
.coming-soon h3 {
  font-size: 48px;
  font-weight: 900;
  margin: 15px 0;
}
.coming-soon h4 {
  font-size: 24px;
  font-weight: 600;
}
.coming-soon .ellipse {
  padding: 20px;
  border: 10px solid var(--text-secondary);
  border-radius: 50%;
  height: 400px;
}
.coming-soon .coming-soon-content {
  max-width: 400px;
}
.coming-soon-content .new-year-z {
  height: 200px;
}
/*holiday sale section*/

.holiday-text {
  max-width: 700px;
  margin: 0 auto 70px;
}
.holiday-text h2 {
  font-size: 72px;
  font-weight: 900;
  margin: 15px 0;
}
.holiday-text h5 {
  font-size: 24px;
  font-weight: 600;
}
.holiday-positioning {
  max-height: 600px;
  position: relative;
  margin-bottom: 120px;
}
.holiday-sale-images {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 150px;
}
.shopping-women {
  min-height: 450px;
}
.sale-50 {
  position: absolute;
  transform: translate(-50%, -120%);
}
.rectangle-2 {
  background-image: url("./images/Rectangle\ 2.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 150px;
  transform: translate(0, -10%);
}
.gift-box img {
  position: absolute;
  z-index: 1;
  height: 600px;
}
/*portfolio section styling*/
.portfolio-text {
  text-align: left;
}
.portfolio-text > h5 {
  font-size: 24px;
  font-weight: 600;
}
.portfolio-text > h3 {
  font-size: 48px;
  font-weight: 900;
  margin-top: 10px;
}
.portfolio-text > p {
  font-size: 18px;
  font-weight: 200px;
  margin-top: 10px;
}
.portfolio-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin: 48px 0 120px 0;
}
.portfolio-images img{
  width: 100%;
  transition: .3s;
  overflow: hidden;
}
.portfolio-images img:hover{
  transform: scale(1.09);
  cursor: pointer;
}
/* news letter section styling*/
.news-letter {
  background: rgba(255, 0, 0, 0.05);
  border-radius: 16px;
}
.newsletter-content {
  max-width: 800px;
  margin: auto;
  padding: 100px;
}
.newsletter-content h4 {
  font-size: 48px;
  font-weight: 600;
  margin: 20px 0 10px 0;
}
.input-sub {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.input-sub input {
  height: 40px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px 0 0 20px;
}
.input-sub button {
  font-size: 20px;
  font-weight: 500;
  padding: 8px 16px;
  background-color: var(--text-secondary);
  color: var(--text-white);
  border: none;
  border-radius: 0 20px 20px 0;
  text-transform: uppercase;
  cursor: pointer;
}
/*footer section styling*/
footer {
  background-color: #070211;
  padding: 140px;
  min-height: 500px;
}
.f-content {
  color: var(--text-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts img {
  width: 20px;
  margin-right: 10px;
  transform: translate(0%, 25%);
}
.footer-images {
  margin: 30px auto;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.footer-images img{
  height: 40px;
  width: auto;
}
.rights-unsub {
  color: var(--text-white);
  display: flex;
  justify-content: space-between;
  margin: 50px 0 auto 0;
  cursor: pointer;
}
hr{
  color: white;
  margin-top: 10px;
  width: 50%;
}
#hr1{
  margin-left: auto;
}